.articles-section{

  &__heading{
    text-align: center;
    color: $headingColor;
    font-size: 1.6875rem;
    font-family: $sourceSansProR;
    letter-spacing: 1px;
    margin-bottom: 50px;

    @mixin atSmall{
      margin-bottom: 41px;
    }
  }

  &__desc{
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-family: $sourceSansProR;
    color: $headingColor;
    line-height: 30px;
    margin-bottom: 100px;

    @mixin atSmall{
      margin-bottom: 50px;
    }
  }




}
