.sep{
  width: 138px;
  background-color: $logoColor;
  height: 4px;
  float: right;
  margin-top: 30px;
<<<<<<< HEAD
=======

  @mixin atSmall{
    float: none;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
>>>>>>> header-section
}
